﻿@sepia-color: #5E2612;

@font-face {
	font-family: 'Arizonia-Regular';
	src: url('../fonts/Arizonia-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Julee-Regular';
    src: url('../fonts/Julee-Regular.ttf');
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #700000;
    background-image: url(../images/Sepia-landscape.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

span, label, a, div {
    font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
}

#siteContainer {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#pageContent {
    width: 1045px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

#pageContainer {
    padding: 0px;
    width: 100%;
}

#pageContainer #header {
    width: 100%;
    text-align: center;
    margin: 10px auto 20px auto;
}

#pageContainer #header #headerTitle {
    text-decoration: none;
    font-family: 'Arizonia-Regular', cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7em;
    line-height: 1em;
    color: @sepia-color;
    text-shadow: 1px 1px lighten(@sepia-color, 50%);
    text-align: center;
    margin: auto;
}

#pageContainer #header #headerTitle:hover {
    color: lighten(@sepia-color, 10%);
}

#pageContainer #pageContainerLeft {
    /*float: left;
    padding: 0px;
    vertical-align: top;
    width: 204px;
    margin-left: 20px;*/
}

#pageContainer #pageContainerRight {
    /*float: left;
    padding: 0px 20px 20px 10px;
    vertical-align: top;
    width: 80%;
    margin-left: 20px;*/
}

#pageContainer #pageContainerHome {
    
}

#pageContainer #pageContainerGeneral {
    
}

#pageContainer #pageContainerGeneral #pageTitle {
    font-family: 'Julee-Regular', cursive, 'Arizonia-Regular';
    color: lighten(@sepia-color, 5%);
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 1px 1px #e8a187;
    margin-bottom: 20px;
}

#navigationContainer
{
    border-radius: 20px;
    border: 5px solid darken(#A00000, 10%);
    background-color: lighten(@sepia-color, 10%);
    opacity: 0.7;
    width: 100%;
}

#navigationContainer .navigationItem .active
{
    background-color: darken(#A00000, 10%);
}

#navigationContainer .navigationItem:hover
{
    background-color: darken(#A00000, 10%);
}

#navigationContainer .navigationItem:first-child:hover
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#navigationContainer .navigationItem:last-child:hover
{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#navigationContainer .navigationItem .navigationLink
{
    padding: 8px 15px 8px 15px;
    display: block;
    color: #EEEECC;
    text-decoration: none;
    font-size: 1.8em;
    font-family: 'Julee-Regular', cursive, 'Arizonia-Regular';
}

#navigationContainer .navigationItem .navigationLink:hover
{
    font-style: italic;
}

#navigationContainer .navigationItem .navigationLink:active
{
    background-color: #A00000;
}

#navigationContainer .navigationItem:first-child:active
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#navigationContainer .navigationItem:last-child:active
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.jPlayerPlaylist {
    float: none;
    clear: both;
    margin-bottom: 20px;
}

.jPlayerPlaylist .jp-video-coverimage {
    float: left;
    width: auto;
    margin-bottom: 20px;
    vertical-align: top;
}

.jPlayerPlaylist .jp-video-coverimage img {
    border-radius: 10px;
}

.jPlayerPlaylist .jp-video {
    float: right;
    width: 400px;
    margin-bottom: 20px;
    margin-left: 10px;
    vertical-align: top;
}

#pageContainer .video {
    margin: 0px auto 20px auto;
    width: 500px;
    height: auto;
}

#pageContainer .video iframe {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

#pageContainer .video .video-title {
    font-size: 1.4em;
    color: @sepia-color;
    font-weight: bold;
    text-shadow: 1px 1px #e8a187;
    margin: auto auto 5px auto;
}

#pageContainer #newsContainer, #pageContainer #bioContainer, #contactContainer {
    width: 700px;
    font-size: 1.4em;
    color: #EEE;
    text-shadow: 1px 1px @sepia-color;
    background-color: lighten(@sepia-color, 10%);
    opacity: 0.7;
    padding: 10px;
    border-radius: 10px;
}

#pageContainer .news {
    display: list-item;
    list-style: circle;
    list-style-position: inside;
    list-style-type: disc;
    color: #EEE;
    margin: 10px;
}

#pageContainer .news a {
    color: #EEE;
    text-shadow: 1px 1px @sepia-color;
    text-decoration: none;
}

#pageContainer .news a:hover {
    color: lighten(@sepia-color, 60%);
}

#pageContainer .news:first-child, #pageContainer #bioContainer p:first-child {
    margin-top: 0px;
}

#pageContainer .news:last-child, #pageContainer #bioContainer p:last-child {
    margin-bottom: 0px;
}

#pageContainer #bioContainer a {
    color: #FFFFDD;
}

#pageContainer #bioContainer a:hover {
    color: #CCCCAA;
}

#contactContainer div.row {
    margin-bottom: 10px;
}

#contactContainer div.row div.contact-label {
    color: #EEE;
    text-shadow: 1px 1px @sepia-color;
    text-decoration: none;
    font-size: 0.8em;
}

#contactContainer div.row div input, #contactContainer div.row div textarea {
    font-size: 0.8em;
}

#contactContainer div.row div .validation-message {
    color: #EEE;
    text-shadow: 1px 1px @sepia-color;
    text-decoration: none;
    font-size: 0.8em;
    font-style: italic;
}

#contactContainer div.row div.contact-submit {
    text-align: center;
}

#contactContainer div.row div.contact-submit button {
    color: #EEE;
    text-shadow: 1px 1px @sepia-color;
    text-decoration: none;
    font-size: 0.8em;
    text-shadow: 1px 1px #e8a187;
    background-color: @sepia-color;
    border-color: lighten(@sepia-color, 20%);
}

#contactContainer div.row div.contact-submit button:hover {
    background-color: lighten(@sepia-color, 20%);
}

#contactContainer #fromBody {
    width: 90%;
}

@media screen and (min-width: 824px) and (max-width: 1023px) {
    #pageContainer #header #headerTitle {
        font-size: 6.4em;
    }
}

@media screen and (min-width: 724px) and (max-width: 823px) {
    #pageContainer #header #headerTitle {
        font-size: 5.8em;
    }
}

@media screen and (min-width: 624px) and (max-width: 723px) {
    #pageContainer #header #headerTitle {
        font-size: 5em;
    }
}

@media screen and (min-width: 524px) and (max-width: 623px) {
    #pageContainer #header #headerTitle {
        font-size: 4.2em;
    }
}

@media screen and (min-width: 424px) and (max-width: 523px) {
    #pageContainer #header #headerTitle {
        font-size: 3.4em;
    }
}

@media screen and (max-width: 423px) {
    #pageContainer #header #headerTitle {
        font-size: 2.6em;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    #pageContent {
        width: auto;
        margin: auto;
    }

    .jPlayerPlaylist .jp-video-coverimage {
        float: none;
        width: auto;
        margin-bottom: 0px;
    }

    .jPlayerPlaylist .jp-video {
        float: none;
        width: 400px;
        margin-bottom: 20px;
        margin-left: 0px;
    }

    #pageContainer #newsContainer, #pageContainer #bioContainer {
        width: 500px;
    }
}

@media screen and (max-width: 767px) {
    #pageContent {
        width: auto;
        margin: auto;
    }

    #pageContainer #pageContainerLeft {
        float: none;
        width: auto;
        text-align: center;
        padding: 0px;
        height: auto;
        margin: 10px;
    }

    #pageContainer #pageContainerRight {
        float: none;
        width: auto;
        padding: 0px;
        height: auto;
        margin: 10px;
    }

    #navigationContainer {
        width: auto;
    }
    
    #navigationContainer .navigationItem  {
        display: inline-block;
    }

    #navigationContainer .navigationItem .navigationLink {
        font-size: 1.2em;
        padding: 4px 8px 4px 8px;
        text-align: center;
    }

    #pageContainer #pageContainerGeneral #pageTitle {
        font-size: 2em;
        margin-bottom: 10px;
    }

    .jPlayerPlaylist {
        margin-bottom: 10px;
    }

    .jPlayerPlaylist .jp-video-coverimage {
        float: none;
        width: auto;
        margin-bottom: 0px;
    }

    .jPlayerPlaylist .jp-video {
        float: none;
        width: auto;
        margin-bottom: 10px;
        margin-left: 0px;
        display: inline-block;
    }

    .jPlayerPlaylist .jp-video .jp-controls button {
        margin-left: 5px;
    }

    .jPlayerPlaylist .jp-video .jp-controls {
        margin: 10px auto 0px 10px !important;
    }

    .jPlayerPlaylist .jp-video .jp-toggles {
        top: 10px;
        left: 160px;
    }

    #pageContainer .video {
        margin: 0px auto 10px auto;
        width: auto;
        height: auto;
    }

    #pageContainer .video iframe {
        width: auto;
        height: auto;
    }

    #pageContainer #newsContainer, #pageContainer #bioContainer, #contactContainer {
        width: auto;
        font-size: 1.2em;
    }

    #contactContainer div.row div.label {
        text-align: left;
    }

    #contactContainer div.row div.submit {
        text-align: left;
    }
}
