﻿@inherits LayoutComponentBase

<div id="siteContainer">
    <div id="pageContainer">
        <div id="header">
            <a id="headerTitle" href="/">Mariana Gindlin</a>
        </div>
        <div id="pageContent" class="row">
            <div id="pageContainerLeft" class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <NavMenu />
            </div>
            <div id="pageContainerRight" class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
                @Body
            </div>
        </div>
    </div>
</div>
