﻿@*<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">RabbiMarianaGindlin.Blazor.Server</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>*@

@*<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
    </ul>
</div>*@
<div id="navigationContainer" @onclick="ToggleNavMenu">
    <div class="navigationItem">
        <NavLink class="navigationLink" href="" Match="NavLinkMatch.All">Home</NavLink>
    </div>
    <div class="navigationItem">
        <NavLink class="navigationLink" href="music">Music</NavLink>
    </div>
    <div class="navigationItem">
        <NavLink class="navigationLink" href="videos">Videos</NavLink>
    </div>
    <div class="navigationItem">
        <NavLink class="navigationLink" href="news">In the News</NavLink>
    </div>
    <div class="navigationItem">
        <NavLink class="navigationLink" href="contact">Contact</NavLink>
    </div>
    <div class="navigationItem">
        <NavLink class="navigationLink" href="biography">Bio</NavLink>
    </div>
</div>
@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

@*<div id="navigationContainer">
    <div class="navigationItem">
        <a class="navigationLink@(controller == "Home" ? " active" : "")" href="~/">Home</a>
    </div>
    <div class="navigationItem">
        <a class="navigationLink@(controller == "Music" ? " active" : "")" href="~/Music">Music</a>
    </div>
    <div class="navigationItem">
        <a class="navigationLink@(controller == "NewReleases" ? " active" : "")" href="~/NewReleases">New Releases</a>
    </div>
    <div class="navigationItem">
        <a class="navigationLink@(controller == "Videos" ? " active" : "")" href="~/Videos">Videos</a>
    </div>
    <div class="navigationItem">
        <a class="navigationLink@(controller == "News" ? " active" : "")" href="~/News">In the News</a>
    </div>
    <div class="navigationItem">
        <a id="navigationItemLinkContact" class="navigationLink@(controller == "Contact" ? " active" : "")" href="~/Contact">Contact</a>
    </div>
    <div class="navigationItem">
        <a class="navigationLink@(controller == "Bio" ? " active" : "")" href="~/Bio">Bio</a>
    </div>
</div>*@
