﻿@page "/biography"

    <div id="bioContainer">

        <p>As both rabbi & cantor of Congregation Shir Chadash, Mariana Gindlin’s enchanting voice, love of Judaism, and engaging personality resonate with our congregants and touch everyone who has come to know her. For many people, their relationship with Congregation Shir Chadash begins with meeting Rabbi Gindlin.  As a rabbi, she is not only part of the synagogue’s public face, but also a mechanism to bring people together based on meaningful connections.  With energy and enthusiasm she has already strengthened the unity of our diverse congregation through innovative services and discussions.</p>

        <p>Rabbi Gindlin previously served as a full-time cantor/musical director in the United States for thirteen years in Florida, California, and Nevada. Before coming to the United States, she was a cantor at congregations in Buenos Aires where she also served as music teacher and choir director for several prominent Jewish institutions.  She taught workshops at the American Conference of Cantors convention, the Coalition for the Advancement in Jewish Education (CAJE) convention, and the Jewish Reconstructionist Federation convention. For the past six years, she has presented workshops about Latin American Jewish music at the American Jewish University.</p>

        <p>Born and raised in Buenos Aires, Argentina, Rabbi Gindlin felt a passion for Judaic music early in life and devoted her career to teaching, performing and leading liturgical and popular Jewish music. In 2001 she served as a cantor in the Libertad Temple in Buenos Aires, where her father sang for 30 years in the professional choir.  She studied at the Latin American Rabbinical Seminary and at the National Conservatory of Music in Argentina. In America, she completed the Cantorial Program of Study and Practice for cantors at the Institute for Jewish Spirituality.</p>

        <p>In addition to her musical skills, Rabbi Gindlin is a licensed psychologist (UBA).  She is fluent in multiple languages including English, Spanish, Hebrew and Yiddish.</p>

        <p>In 2007 she was selected to officiate at the Kabbalat Shabbat prior to a dinner in honor of the Israel Prime Minister Ehud Barak at the American Jewish University.</p>

        <p>Rabbi Gindlin has produced and performed in three critically acclaimed CDs of inspiring Jewish music. They include “Kol Ha’Neshamah”  (favorite Hebrew songs), “The Music of Our People” (Yiddish and Ladino songs), and a High Holy Days double album.</p>

        <p>Rabbi Mariana Gindlin has performed in concerts throughout the world. She was invited by the Cantors Assembly to perform at the Philharmonic Hall of Krakow as part of the Jewish Music Festival, and also in the city of Ariel, Israel, as part of the Cantors Assembly first mission. She was also invited to sing in Berlin and Tel Aviv as part of the Cantors Assembly second mission. She has produced and sung in numerous benefits for the Magen David Adom and for various temples.</p>

        <p>Rabbi Gindlin is committed to social justice and interfaith community work. While in Las Vegas, she worked together with the LVVISC, an organization comprised of diverse communities that have come together to build relationships and act together for the common good. She helped launch Nevadans for the Common Good, a sister organization that enabled community leaders to engage in public life. She delivered the opening prayer at the founding convention in front of 1,500 leaders from 65 congregations and community organizations in Nevada. She also organized the 2013 Global Day for Jewish Learning for the city of Las Vegas, and was asked to do it again in 2014.</p>

        <p>Rabbi Gindlin traveled to Israel with a group of Las Vegas’ Christian pastors and rabbis on a trip that Christians United For Israel organized in January 2014.</p>

        <p>In 2015 she received her Rabbinic Ordination and Masters of Rabbinic Studies from the Academy for Jewish Religion in Los Angeles.</p>

        <p>In additional to her congregational responsibilities, Rabbi Gindlin serves on the CSULB Jewish Studies Program Board of Directors.</p>

        <p>Rabbi Gindlin lives in Lakewood, California, and is a devoted mom to her young son, Daniel, whom she adopted in 2015.</p>

        <p>You are invited to visit her website <a href="http://www.rabbimarianagindlin.com">www.rabbimarianagindlin.com</a> to hear some selections from her CDs.</p>

    </div>

@code {

}
