﻿@page "/contact"
@using RabbiMarianaGindlin.Blazor.Server.Data
@using RabbiMarianaGindlin.Blazor.Server.Service
@using Newtonsoft.Json
@using Microsoft.JSInterop
@inject IJSRuntime _jsRuntime
@inject IContactService _contactService

<div id="contactContainer">
    <EditForm Model="@_contactModel" OnValidSubmit="@OnHandleValidSubmit">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 contact-label">Your Email:</div>
            <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
                <InputText id="fromEmail" @bind-Value="_contactModel.FromEmail" />
                <ValidationMessage For="@(() => _contactModel.FromEmail)" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 contact-label">Your Message:</div>
            <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9">
                <InputTextArea id="fromBody" @bind-Value="_contactModel.FromBody" rows="8" cols="20" />
                <ValidationMessage For="@(() => _contactModel.FromBody)" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 contact-submit">
                <button id="contactSubmitButton" type="submit" class="btn btn-primary">Send Message</button>
            </div>
        </div>
    </EditForm>
</div>

@code {
    private ContactModel _contactModel = new ContactModel();

    private void OnHandleValidSubmit()
    {
        _contactService.SendEmailMessage(_contactModel);
        _jsRuntime.InvokeVoidAsync("clearContactForm", "Message Sent!");
        
    }
}
