﻿@page "/music"
@using RabbiMarianaGindlin.Blazor.Server.Data
@using RabbiMarianaGindlin.Blazor.Server.Service
@inject IMusicService _musicService

<div id="musicContainer">
    @foreach (var music in _musicList)
    {
        <MusicPlayList Music="music" @key="music.Ordinal" />
    }
</div>

@code {
    private MusicModel[] _musicList = new MusicModel[0];

    protected override async Task OnInitializedAsync()
    {
        _musicList = await _musicService.GetMusicAsync();
    }
}
