﻿@page "/news"
@using RabbiMarianaGindlin.Blazor.Server.Data
@using RabbiMarianaGindlin.Blazor.Server.Service
@inject INewsService _newsService

<div id="newsContainer">
    @foreach (var news in _newsList)
    {

        <div class="news">
            <a title="@news.Title" href="@news.URL">@news.Title</a>
        </div>

    }
</div>

@code {
    private NewsModel[] _newsList = new NewsModel[0];

    protected override async Task OnInitializedAsync()
    {
        _newsList = await _newsService.GetNewsAsync();
    }
}
