﻿@page "/videos"
@using RabbiMarianaGindlin.Blazor.Server.Data
@using RabbiMarianaGindlin.Blazor.Server.Service
@inject IVideoService _videoService

<div id="videoContainer">
    @foreach (var video in _videoList)
    {
        <div class="video">
            <div class="video-title">@video.Title</div>
            <div class="video-iframe">
                <iframe title="Nevadans for the Common Good" src="@video.URL" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    }
</div>

@code {
    private VideoModel[] _videoList = new VideoModel[0];

    protected override async Task OnInitializedAsync()
    {
        _videoList = await _videoService.GetVideoAsync();
    }
}
